{% extends "base/menu.html" %}
{% block title %}
    PAGINA PRINCIPAL
{% endblock title %}
{% block contenido %}
<section id="h_home">
<section  class="row">
    <header  class="small-12 columns text-right">
        <h3>
            !BIENVENIDOS 
        </h3>
        <h3> AL SISTEMA GESTOR DE EGRESADOS!</h3>
    </header>
</section>
</section>

<section>
    <section class="row">
    <div class="small-12 columns">
     {% if egresado_numcontrol or Egresados %}
<table>
  <thead>
    <tr>
      <th width="150">Numero de control</th>
      <th width="200">Nombre</th>
      <th width="150">Carrera</th>
      <th width="150">Año de Egreso</th>
      <th width="150">Titulado</th>
      <th width="150">Ocupacion</th>
      <th width="150">Telefono</th>

    </tr>
  </thead>
  <tbody>
  {% for egresado in Egresados %}
       <tr>
      <td>{{egresado.num_control}}</td>
      <td>{{egresado.nombre}} {{egresado.a_paterno}} {{egresado.a_materno}} </td>
      <td>{{egresado.carrera}}</td>
      <td>{{egresado.mes_anio_egreso}}</td>
      <td>{{egresado.get_titulado_display}}</td>
      <td>{{egresado.get_ocupacion_display}}</td>
      <td>{{egresado.telefono}}</td>
       </tr>
    {% endfor %}
   
    <tr>
      <td>{{egresado_numcontrol.num_control}}</td>
      <td>{{egresado_numcontrol.nombre}} {{egresado_numcontrol.a_paterno}} {{egresado_numcontrol.a_materno}} </td>
      <td>{{egresado_numcontrol.carrera}}</td>
      <td>{{egresado_numcontrol.mes_anio_egreso}}</td>
      <td>{{egresado_numcontrol.get_titulado_display}}</td>
      <td>{{egresado_numcontrol.get_ocupacion_display}}</td>
      <td>{{egresado_numcontrol.telefono}}</td>
       </tr>
      
    
  </tbody>
</table>
{% elif Error %}
<div class="row">
  <div class="medium-8 medium-centered columns text-center">
  <div class="panel callout">
    <h3>Numero de Control No Existe</h3>
  </div>
    
  </div>
</div>
{% else %}
<div class="row">
  <div class="medium-8 medium-centered columns text-center">
  <div class="panel callout">
    <h3>Seleccione Carrera o Introduzca No. de Control</h3>
  </div>
    
  </div>
</div>
{% endif %}

    </div>
        
    </section>
{% if Egresados %}
  
  <section class="row">
      <div class="small-6 columns Keyword">
        {%if Egresados.has_previous%}
        <h4><a href="/home/?pagina={{Egresados.previous_page_number}}"><span class="fi-arrow-left large"></span>Anterior</h4></a>
        {%endif%}
      </div>
      <div class="small-6 columns Keyword text-right">
        {%if Egresados.has_next%}
        <h4><a href="/home/?pagina={{Egresados.next_page_number}}">Siguiente<span class="fi-arrow-right large"></span></h4></a>
        {%else%}
        <h4>Siguiente<span class="fi-arrow-right large"></span></h4>
        {%endif%}
      </div>
    </section>
    {% endif %}

</section>
{% endblock contenido %}