{% extends "base/footer.html" %}
{% block title %}
    Inicio
{% endblock title %}
{% block contenido %}
{% load staticfiles %}
<section id="bg_login">
  <div id="login" class="row">
    <div class="medium-6 medium-centered columns text-center">
        <h1>INSTITUTO TECNOLÓGICO DE TEHUACÁN</h1> 
        
</div>
<div class="small-12 columns text-center"> 
  <form id="formulario" name="form" method="post" action=".">{% csrf_token %}
  <div class="row paddingtop">
    <div class="medium-6 medium-centered columns text-center">
      
        <input id="id_username" type="text" name="username" class="small-12.columns text-center" placeholder="Usuario" required/>
      </div>
      <div class="medium-6 medium-centered columns text-center">
      
        <input type="password" id="id_password" name="password" class="small-12.columns text-center" placeholder="Contraseña" required/>
      </div>
      {% if error %}
        <div class="medium-6 medium-centered columns">
           <small class="error" style="font-size:.9rem;">{{error}}</small>
        </div>
      {% endif %}

      <div class="medium-6 medium-centered columns">
      <article class="row">
        <div class="small-6 columns text-center">
      
        <button class="expand round">ENTRAR</button>
      </div>
        <div class="small-6 columns text-center">
      <a class="button expand round secondary" href="/egresado/registro">REGISTRAR</a>
      </div>
      </article> 
      </div>
      
      <div class="medium-6 medium-centered columns text-center ">
      <p><a href="/olvidec">OLVIDE CONTRASEÑA</a></p>
      </div>
    </div>
    </form>  
  </div>
    
</div>
</section>

 
{% endblock contenido %}