{% extends "base/menu.html" %}
{% block title %}
  Resatuarar Contraseña  
{% endblock title %}
{% block contenido %}
 <header class="row paddingtop">
    <div class="small-12 columns ">
    <div id="introduccion" class="panel callout radius">
  <h2>PASOS PARA RESTAURAR TU CONTRASEÑA.</h2>
  <p>1.- Mandar correo electronico a esta direccion residenciasitt@hotmail.com en asunto poner Olvide contraseña.</p>
  <p>2.- Si el problema persiste ponerte en contacto con el administrador de la pagina. </p>
  <p>3.- Ir al laboratorio de computo, planta alta jefetura de centro de computo. </p>
     </div>
    </div>       
 </header>   
{% endblock contenido %}