{% extends "formulario/formulario_base.html" %}
{% block title %}Actualizar Perfil{% endblock title %}
{% block contenido %}
  <section class="row panel">
    <article class="small-12 columns" style="background: #fff;">
    {{ usuario.non_field_errors }}
    <form method="POST" action="./?siguiente={{siguiente}}">{% csrf_token %}
        <h2 class="text-center panel callout"> I.Perfil de Egresado</h2>
        <div class="row">
          <div class="medium-6 columns">
            <!-- aqui empiezan tus input -->
            {{ usuario.nombre.errors }}
            <input  type="text" {%if usuario.nombre.value%}value="{{usuario.nombre.value}}"{%endif%} name="nombre" class="small-12.columns text-center" placeholder="Nombre" required/>
          </div>
          <div class="medium-6 columns">
              {{ usuario.a_paterno.errors }}
              <input  type="text" {%if usuario.a_paterno.value%}value="{{usuario.a_paterno.value}}"{%endif%} name="a_paterno" class="small-12.columns text-center" placeholder="Apellido Paterno" required/>
            </div>

            {{ usuario.a_materno.errors }}
            <div class="medium-6 columns">
              <input  type="text" {%if usuario.a_materno.value%}value="{{usuario.a_materno.value}}"{%endif%} name="a_materno" class="small-12.columns text-center" placeholder="Apellido Materno" required/>
            </div>
            {{ usuario.num_control.errors }}
            <div class="medium-6 columns">
              <input  type="text" {%if usuario.num_control.value%}value="{{usuario.num_control.value}}"{%endif%} name="num_control" class="small-12.columns text-center" placeholder="Numero de Control" required/>
             </div>
           </div>
             <div class="medium-6 columns">
             <label>Carrera
              <select name= "carrera">
              {%if usuario.carrera%} 
              <option  value= "{{usuario.carrera.id.value}}" selected="selected">{{usuario.carrera.value}}
              </option>
              {%endif%}
              
              <option  value= "1">Ing.Bioquimica</option>
              <option  value= "2">Ing.Civil</option>
              <option  value= "3">Ing. Electronica</option>
              <option  value= "4">Ing. Industrial</option>
              <option  value= "5">Ing.Mecatronica</option>
              <option  value= "6">Ing. Sist. Computacionales</option>
              <option  value= "7">Lic. Administración</option>
              <option  value= "8">Contaduría Pública</option>
              <option  value= "9">Ing. Electromecánica</option>
              <option  value= "10">Ing. Gestión Empresarial</option>
              <option  value= "11">Ing. Logistica</option>
              </select>
              </label>
              </div>
            <div class="medium-6 columns">
            <!-- FECHA -->
            <label>Fecha de Nacimiento
            {{ usuario.f_nacimiento.errors }}
            <input  type="datetime" {%if usuario.f_nacimiento.value%}value="{{usuario.f_nacimiento.value}}"{%endif%} name="f_nacimiento" class="datepicker small-12.columns text-center" placeholder="Fecha de Nacimiento" required/> 
            </label>
            </div>
          
          <div class="row">
             <div class="medium-6 columns">
              <label>Sexo</label>
              {{ usuario.sexo.errors }}
              <input type="radio" name="sexo" value="M" id="masculino" class="small-12.columns text-center" {% if usuario.sexo.value == "M" %}checked="checked" {% endif %}/><label for="masculino">Masculino</label>
              <input type="radio" name="sexo" value="F" id="femenino" class="small-12.columns text-center" {% if usuario.sexo.value == "F" %}checked="checked" {% endif %}/><label for="femenino">Femenino</label>
            </div>

            <div class="medium-6 columns"> 
               {{ usuario.curp.errors }}
              <input  type="text" {%if usuario.curp.value%}value="{{usuario.curp.value}}"{%endif%} name="curp" class="small-12.columns text-center" placeholder="Curp" required/>
            </div>
            
            <div class="medium-12 columns">
              <label>Estado Civil</label>
            <div class="medium-3 columns">
            {{ usuario.e_civil.errors }}
              <input type="radio" name="e_civil" value="C" id="casado" class="small-12.columns text-center" {% if usuario.e_civil.value == "C" %}checked {% endif %}><label for="casado">Casado(a)</label>
            </div>
            <div class="medium-3 columns">
              <input type="radio" name="e_civil" value="S" id="soltero" class="small-12.columns text-center" {% if usuario.e_civil.value == "S" %}checked {% endif %}><label for="soltero">Soltero(a)</label>
            </div>
            <div class="medium-4 columns">
              <input type="radio" name="e_civil" value="D" id="divorciado" class="small-12.columns text-center" {% if usuario.e_civil.value == "D" %}checked {% endif %}><label for="divorciado">Divorciado(a)</label>
            </div>
            <div class="medium-2 columns">
              <input type="radio" name="e_civil" value="O" id="otro" class="small-12.columns text-center" {% if usuario.e_civil.value == "O" %}checked {% endif %}><label for="otro">Otro</label>
            </div>
            </div>
          </div>
          <div class="row">
            
             <div class="medium-6 columns">
                <select name="estado">
                {%if usuario.estado%} 
                <option value="{{usuario.estado.value}}" selected="selected">{{usuario.estado.value}}
                </option> {%endif%}
              <option value="Aguascalientes">Aguascalientes</option>
              <option value="Baja California">Baja California </option>
              <option value="Baja California Sur">Baja California Sur </option>
              <option value="Campeche">Campeche </option>
              <option value="Chiapas">Chiapas </option>
              <option value="Chihuahua">Chihuahua </option>
              <option value="Coahuila">Coahuila </option>
              <option value="Colima">Colima </option>
              <option value="Distrito Federal">Distrito Federal</option>
              <option value="Durango">Durango </option>
              <option value="Estado de Mexico">Estado de México </option>
              <option value="Guanajuato">Guanajuato </option>
              <option value="Guerrero">Guerrero </option>
              <option value="Hidalgo">Hidalgo </option>
              <option value="Jalisco">Jalisco </option>
              <option value="Michoacan">Michoacán </option>
              <option value="Morelos">Morelos </option>
              <option value="Nayarit">Nayarit </option>
              <option value="Nuevo Leon">Nuevo León </option>
              <option value="Oaxaca">Oaxaca </option>
              <option value="Puebla" {% if not usuario.estado %}selected="selected"
                
              {% endif %}>Puebla </option>
              <option value="Queretaro">Querétaro </option>
              <option value="Quintana Roo">Quintana Roo </option>
              <option value="San Luis Potosi">San Luis Potosí </option>
              <option value="Sinaloa">Sinaloa </option>
              <option value="Sonora">Sonora </option>
              <option value="Tabasco">Tabasco </option>
              <option value="Tamaulipas">Tamaulipas </option>
              <option value="Tlaxcala">Tlaxcala </option>
              <option value="Veracruz">Veracruz </option>
              <option value="Yucatan">Yucatán </option>
              <option value="Zacatecas">Zacatecas</option>
              </select>
           </div>

            <div class="medium-6 columns">
            {{ usuario.municipio.errors }}
            <input  type="text" {%if usuario.municipio.value%}value="{{usuario.municipio.value}}"{%endif%} name="municipio" class="small-12.columns text-center" placeholder="Municipio" required/>
            </div>

            <div class="medium-6 columns">
            {{ usuario.cuidad.errors }}
            <input  type="text" {%if usuario.ciudad.value%}value="{{usuario.ciudad.value}}"{%endif%} name="ciudad" class="small-12.columns text-center" placeholder="Ciudad" required/>
            </div>

            <div class="medium-6 columns">
            {{ usuario.domicilio.errors }}
            <input  type="text" {%if usuario.domicilio.value%}value="{{usuario.domicilio.value}}"{%endif%} name="domicilio" class="small-12.columns text-center" placeholder="Domicilio" required/>
            </div>

            <div class="medium-6 columns">
            {{ usuario.telefono.errors }}
            <input  type="tel" {%if usuario.telefono.value%}value="{{usuario.telefono.value}}"{%endif%} name="telefono" class="small-12.columns text-center" placeholder="Telefono" required/>
            </div>

            <div class="medium-6 columns">
            {{ usuario.especialidad.errors }}
            <input  type="text" {%if usuario.especialidad.value%}value="{{usuario.especialidad.value}}"{%endif%} name="especialidad" class="small-12.columns text-center" placeholder="Especialidad" required/>
            </div>

            <div class="medium-6 columns">
            {{ usuario.e_mail.errors }}
            <input  type="email" {%if usuario.e_mail.value%}value="{{usuario.e_mail.value}}"{%endif%} name="e_mail" class="small-12.columns text-center" placeholder="e-mail" required/>
            </div>

            <div class="medium-6 columns">
            {{ usuario.mes_anio__egreso.errors }}
            <input  type="datetime" {%if usuario.mes_anio_egreso.value%}value="{{usuario.mes_anio_egreso.value}}"{%endif%} name="mes_anio_egreso" class="datepicker small-12.columns text-center" placeholder="Mes y Año de Egreso" required/>
            </div>
            <div class="medium-6 columns">
            {{ usuario.tel_casa.errors }}
        <input  type="tel" {%if usuario.tel_casa.value%}value="{{usuario.tel_casa.value}}"{%endif%} name="tel_casa" class="small-12.columns text-center" placeholder="Telefono Casa" required/>
        </div>

        
        <div class="medium-6 columns">
        <label>Dominio del Lenguaje Extranjero Ingles( % )</label>
            <div class="row">
                <div class="small-9 columns">
                  <div class="range-slider" data-slider data-options="start: 0; end: 100;step: 5;display_selector: #niv_ing; {%if usuario.niv_ing.value%}initial: {{usuario.niv_ing.value}};{% else %}initial: 50; {%endif%}">
                     <span class="range-slider-handle" role="slider" tabindex="0"></span>
                     <span class="range-slider-active-segment"></span>
                  </div>
                </div>        
                <div class="small-3 columns">
                    <input type="number" name="niv_ing" id="niv_ing" min="0" max="100" step="5" {% if usuario.niv_ing.value %}value="{{usuario.niv_ing.value}}" {% else %}value="50"{% endif %} />
                </div>
            </div>
        </div>

            <div class="medium-6 columns">
            {{ usuario.otros_idms.errors }}
            <input  type="text" {%if usuario.otros_idms.value%}value="{{usuario.otros_idms.value}}"{%endif%} name="otros_idms" class="small-12.columns text-center" placeholder="Otros Idiomas" required/>
            </div>
            
            <div class="medium-6 columns">
            {{ usuario.man_paq_comp.errors }}
            <input  type="text" {%if usuario.man_paq_comp.value%}value="{{usuario.man_paq_comp.value}}"{%endif%} name="man_paq_comp" class="small-12.columns text-center" placeholder="Manejo de Paquetes Computacionales" required/>
            </div>

            
          
            <div class="medium-6 medium-centered columns text-center">
              <div class="row">
            <div class="small-4 columns">
              <label for="right-label" class="right inline">¿Estas Titulado?</label>
            </div>
            <div class="small-2 columns">
              <label class="right">No</label>
            </div>
            <div class="small-4 columns"> 
            
              <div class="switch round">
                <input id="tituladoid" name="titulado" value="1" type="checkbox"{% if usuario.titulado.value == "1" %}checked="checked"{% endif %}>
                <label for="tituladoid"></label>
              </div>
             </div>
             <div class="small-2 columns">
                <label class="left">Si</label>
             </div>
            </div>
          </div>
          
          <div class="medium-12 columns panel callout">
      <label>Ocupación</label>
      <div class="row">
        <div class="small-12 medium-4 columns">
        {{ usuario.ocupacion.errors }}
          <input type="radio" name="ocupacion" value="1"class="small-12.columns" {% if usuario.ocupacion.value == "1" %}checked {% endif %}><label for="1">Trabaja</label>
        </div>
        <div class="small-12 medium-4 columns">
          <input type="radio" name="ocupacion" value="2"class="small-12.columns" {% if usuario.ocupacion.value == "2" %}checked {% endif %}><label for="2">Estudia</label>
        </div>
        <div class="small-12 medium-4 columns">
          <input type="radio" name="ocupacion" value="3"class="small-12.columns" {% if usuario.ocupacion.value == "3" %}checked {% endif %}><label for="3">Trabaja y Estudia</label>
        </div>
        <div class="medium-12 columns">
          <input type="radio" name="ocupacion" value="4"class="small-12.columns" {% if usuario.ocupacion.value == "4" %}checked {% endif %}><label for="4">Ni Trabaja Ni Estudia</label>
         </div>
        </div>
      </div>



          <div class="medium-6 columns">
          <label>Estudio Actuales</label>
          <div class="row">
          <div class="small-12 columns">
          {{ usuario.estudios_act.errors }}
            <input type="radio" name="estudios_act" value="1"class="small-12.columns text-center" {% if usuario.estudios_act.value == "1" %}checked {% endif %}><label for="1">Especialidad</label>
          </div>
          <div class="small-12 columns">
            <input type="radio" name="estudios_act" value="2"class="small-12.columns text-center" {% if usuario.estudios_act.value == "2" %}checked {% endif %}><label for="2">Maestria</label>
          </div>
          <div class="small-6 columns">
            <input type="radio" name="estudios_act" value="3"class="small-12.columns text-center" {% if usuario.estudios_act.value == "3" %}checked {% endif %}><label for="3">Idiomas</label>
          </div>
          <div class="small-6 columns">
            <input type="radio" name="estudios_act" value="4"class="small-12.columns text-center" {% if usuario.estudios_act.value == "4" %}checked {% endif %}><label for="4">Otro</label>
          </div>
          </div>
          </div>
          

          <div class="medium-6 columns panel callout">
          {{ usuario.esp_intitucion.errors }}
            <input  type="text" {%if usuario.esp_intitucion.value%}value="{{usuario.esp_intitucion.value}}"{%endif%} name="esp_intitucion" class="small-12.columns text-center" placeholder="Especialidad e Institución" required/>
          </div>

          <div class="medium-12 columns" >
           <h3 class="panel"> II.PERTINENCIA Y DISPONIBILIDAD DE MEDIOS Y RECURSOS PARA EL APRENDIZAJE</h3>
          </div>


          <div class="medium-12 columns panel callout">
          <label>Tiempo para Obtener Tu Primer Empleo</label>
          <div class="row">
          <div class="medium-3 columns">
          {{ usuario.tiem_primer_emple.errors }}
            <input type="radio" name="tiem_primer_emple" value="1"class="small-12.columns text-center" {% if usuario.tiem_primer_emple.value == "1" %}checked {% endif %}><label for="1">Antes de Egresar</label>
          </div>
          <div class="medium-3 columns">
            <input type="radio" name="tiem_primer_emple" value="2"class="small-12.columns text-center" {% if usuario.tiem_primer_emple.value == "2" %}checked {% endif %}><label for="2">Menos de seis meses</label>
          </div>
          <div class="medium-3 columns">
            <input type="radio" name="tiem_primer_emple" value="3"class="small-12.columns text-center" {% if usuario.tiem_primer_emple.value == "3" %}checked {% endif %}><label for="3">Entre seis meses y un año</label>
          </div>
          <div class="medium-3 columns">
            <input type="radio" name="tiem_primer_emple" value="4"class="small-12.columns text-center" {% if usuario.tiem_primer_emple.value == "4" %}checked {% endif %}><label for="4">Mas de un año</label>
          </div>
          </div>
          </div>

                <div class="medium-9 columns">
                <label>Calidad de los Docentes</label>
              <div class="medium-4 columns">
              {{ usuario.calidad_docentes.errors }}
                <input type="radio" name="calidad_docentes" value="1"class="small-9.columns text-center" {% if usuario.calidad_docentes.value == "1" %}checked {% endif %}><label for="1">Muy Buena</label>
              </div>
              <div class="medium-4 columns">
                <input type="radio" name="calidad_docentes" value="2"class="small-9.columns text-center" {% if usuario.calidad_docentes.value == "2" %}checked {% endif %}><label for="2">Buena</label>
              </div>
              <div class="medium-4 columns">
                <input type="radio" name="calidad_docentes" value="3"class="small-12.columns text-center" {% if usuario.calidad_docentes.value == "3" %}checked {% endif %}><label for="3">Regular</label>
              </div>
              <div class="medium-12 columns">
                <input type="radio" name="calidad_docentes" value="4"class="small-12.columns text-center" {% if usuario.calidad_docentes.value == "4" %}checked {% endif %}><label for="4">Mala</label>
              </div>
            </div>
            <div class="medium-12 columns panel callout">
            <label>Plan de Estudios</label>
          <div class="medium-4 columns">
          {{ usuario.plan_estudios.errors }}
            <input type="radio" name="plan_estudios" value="1"class="small-12.columns text-center" {% if usuario.plan_estudios.value == "1" %}checked {% endif %}><label for="1">Muy Buena</label>
          </div>
          <div class="medium-4 columns">
            <input type="radio" name="plan_estudios" value="2"class="small-12.columns text-center" {% if usuario.plan_estudios.value == "2" %}checked {% endif %}><label for="2">Buena</label>
          </div>
          <div class="medium-4 columns">
            <input type="radio" name="plan_estudios" value="3"class="small-12.columns text-center" {% if usuario.plan_estudios.value == "3" %}checked {% endif %}><label for="3">Regular</label>
          </div>
          <div class="medium-12 columns">
            <input type="radio" name="plan_estudios" value="4"class="small-12.columns text-center" {% if usuario.plan_estudios.value == "4" %}checked {% endif %}><label for="4">Mala</label>
          </div>
            </div>
            

            <div class="medium-12 columns">
            <label>Oportunidad de participar en proyectos de investigación y desarrollo</label>
          <div class="medium-4 columns">
          {{ usuario.oport_ppid.errors }}
            <input type="radio" name="oport_ppid" value="1"class="small-12.columns text-center" {% if usuario.oport_ppid.value == "1" %}checked {% endif %}><label for="1">Muy Buena</label>
          </div>
          <div class="medium-4 columns">
            <input type="radio" name="oport_ppid" value="2"class="small-12.columns text-center" {% if usuario.oport_ppid.value == "2" %}checked {% endif %}><label for="2">Buena</label>
          </div>
          <div class="medium-4 columns">
            <input type="radio" name="oport_ppid" value="3"class="small-12.columns text-center" {% if usuario.oport_ppid.value == "3" %}checked {% endif %}><label for="3">Regular</label>
          </div>
          <div class="medium-12 columns">
            <input type="radio" name="oport_ppid" value="4"class="small-12.columns text-center" {% if usuario.oport_ppid.value == "4" %}checked {% endif %}><label for="4">Mala</label>
          </div>
            </div>
            

            <div class="medium-12 columns panel callout">
            <label>Énfasis que se le prestaba a la investigación dentro del proceso de enseñanza</label>
          <div class="medium-4 columns">
          {{ usuario.enfasis.errors }}
            <input type="radio" name="enfasis" value="1"class="small-12.columns text-center" {% if usuario.enfasis.value == "1" %}checked {% endif %}><label for="1">Muy Buena</label>
          </div>
          <div class="medium-4 columns">
            <input type="radio" name="enfasis" value="2"class="small-12.columns text-center" {% if usuario.enfasis.value == "2" %}checked {% endif %}><label for="2">Buena</label>
          </div>
          <div class="medium-4 columns">
            <input type="radio" name="enfasis" value="3"class="small-12.columns text-center" {% if usuario.enfasis.value == "3" %}checked {% endif %}><label for="3">Regular</label>
          </div>
          <div class="medium-12 columns">
            <input type="radio" name="enfasis" value="4"class="small-12.columns text-center" {% if usuario.enfasis.value == "4" %}checked {% endif %}><label for="4">Mala</label>
          </div>
            </div>
           

            <div class="medium-12 columns">
            <label>Satisfacción con las condiciones de estudio (infraestructura)</label>
           <div class="medium-4 columns">
           {{ usuario.infracest.errors }}
            <input type="radio" name="infracest" value="1"class="small-12.columns text-center" {% if usuario.infracest.value == "1" %}checked {% endif %}><label for="1">Muy Buena</label>
          </div>
           <div class="medium-4 columns">
            <input type="radio" name="infracest" value="2"class="small-12.columns text-center" {% if usuario.infracest.value == "2" %}checked {% endif %}><label for="2">Buena</label>
          </div>
           <div class="medium-4 columns">
            <input type="radio" name="infracest" value="3"class="small-12.columns text-center" {% if usuario.infracest.value == "3" %}checked {% endif %}><label for="3">Regular</label>
          </div>
           <div class="medium-12 columns">
            <input type="radio" name="infracest" value="4"class="small-12.columns text-center" {% if usuario.infracest.value == "4" %}checked {% endif %}><label for="4">Mala</label>
          </div>
          </div>
           <div class="medium-12 columns panel callout">
          <label>Experiencia obtenida a través de la residencia profesional</label>
         <div class="medium-4 columns">
         {{ usuario.exprecprof.errors }}
          <input type="radio" name="exprecprof" value="1"class="small-12.columns text-center" {% if usuario.exprecprof.value == "1" %}checked {% endif %}><label for="1">Muy Buena</label>
        </div>
         <div class="medium-4 columns">
          <input type="radio" name="exprecprof" value="2"class="small-12.columns text-center" {% if usuario.exprecprof.value == "2" %}checked {% endif %}><label for="2">Buena</label>
        </div>
         <div class="medium-4 columns">
          <input type="radio" name="exprecprof" value="3"class="small-12.columns text-center" {% if usuario.exprecprof.value == "3" %}checked {% endif %}><label for="3">Regular</label>
        </div>
         <div class="medium-12 columns">
          <input type="radio" name="exprecprof" value="4"class="small-12.columns text-center" {% if usuario.exprecprof.value == "4" %}checked {% endif %}><label for="4">Mala</label>
        </div>
          </div>
          <div class="medium-12 columns">
          <label>DESEMPEÑO PROFESIONAL DE LOS EGRESADOS (COHERENCIA ENTRE LA FORMACIÓN Y EL TIPO DE EMPLEO)</label>
          </div>
          <div class="medium-12 columns">
            <label>Eficiencia para realizar las actividades laborales, en relación con su formación académica</label>
          <div class="medium-4 columns">
          {{ usuario.eficiencia_lab.errors }}
            <input type="radio" name="eficiencia_lab" value="1"class="small-12.columns text-center" {% if usuario.eficiencia_lab.value == "1" %}checked {% endif %}><label for="1">Muy Eficiente</label>
          </div>
            <div class="medium-4 columns">
            <input type="radio" name="eficiencia_lab" value="2"class="small-12.columns text-center" {% if usuario.eficiencia_lab.value == "2" %}checked {% endif %}><label for="2">Eficiente</label>
          </div>
          <div class="medium-4 columns">
            <input type="radio" name="eficiencia_lab" value="3"class="small-12.columns text-center" {% if usuario.eficiencia_lab.value == "3" %}checked {% endif %}><label for="3">Poco Eficiente</label>
          </div>
           <div class="medium-12 columns">
            <input type="radio" name="eficiencia_lab" value="4"class="small-12.columns text-center" {% if usuario.eficiencia_lab.value == "4" %}checked {% endif %}><label for="4">Deficiente</label>
          </div>
            </div>
          <div class="medium-12 columns panel">
            <label>Cómo califica su formación académica con respecto a su desempeño laboral</label>
            <div class="medium-6 columns">
            {{ usuario.cal_formacion.errors }}
              <input type="radio" name="cal_formacion" value="1"class="small-12.columns text-center" {% if usuario.cal_formacion.value == "1" %}checked {% endif %}><label for="1">Excelente</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="cal_formacion" value="2"class="small-12.columns text-center" {% if usuario.cal_formacion.value == "2" %}checked {% endif %}><label for="2">Buena</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="cal_formacion" value="3"class="small-12.columns text-center" {% if usuario.cal_formacion.value == "3" %}checked {% endif %}><label for="3">Regular</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="cal_formacion" value="4"class="small-12.columns text-center" {% if usuario.cal_formacion.value == "4" %}checked {% endif %}><label for="4">Mala</label>
            </div>
            <div class="medium-12 columns">
              <input type="radio" name="cal_formacion" value="5"class="small-12.columns text-center" {% if usuario.cal_formacion.value == "5" %}checked {% endif %}><label for="5">Pesimo</label>
            </div>


          </div>

          <div class="medium-12 columns">
            <label>Utilidad de las residencias profesionales o prácticas profesionales para su desarrollo laboral y profesional</label>
            <div class="medium-6 columns">
            {{ usuario.util_residencia.errors }}
            <input type="radio" name="util_residencia" value="1"class="small-12.columns text-center" {% if usuario.util_residencia.value == "1" %}checked {% endif %}><label for="1">Excelente</label>
          </div>
          <div class="medium-6 columns">
            <input type="radio" name="util_residencia" value="2"class="small-12.columns text-center" {% if usuario.util_residencia.value == "2" %}checked {% endif %}><label for="2">Buena</label>
          </div>
          <div class="medium-6 columns">
            <input type="radio" name="util_residencia" value="3"class="small-12.columns text-center" {% if usuario.util_residencia.value == "3" %}checked {% endif %}><label for="3">Regular</label>
          </div>
          <div class="medium-6 columns">
            <input type="radio" name="util_residencia" value="4"class="small-12.columns text-center" {% if usuario.util_residencia.value == "4" %}checked {% endif %}><label for="4">Mala</label>
          </div>
          <div class="medium-12 columns">
             <input type="radio" name="util_residencia" value="5"class="small-12.columns text-center" {% if usuario.util_residencia.value == "5" %}checked {% endif %}><label for="5">Pesimo</label>
          </div>
          </div>




        </div>
        <div class="medium-6 medium-centered columns">
          <input class="button round" type="submit" value="Guardar Y Siguiente">
        </div>
    </form>
    </article>
  </section>
{% endblock contenido %}
