{% extends "base/footer.html" %}
{% block title %}Actualizar Contraseña{% endblock title %}
{% block contenido %}
    
<section id="bg_login">
  <div id="login" class="row">
    <div class="medium-6 medium-centered columns text-center">
        <h1>CAMBIAR CONTRASEÑA</h1> 
        
</div>
<div class="small-12 columns text-center"> 
  <form name="form" method="post" action=".">{% csrf_token %}
  <div class="row paddingtop">
      <div class="medium-6 medium-centered columns text-center">
      
        <input type="password" id="id_password" name="password" class="small-12.columns text-center" placeholder="Contraseña" required/>
      </div>

       {% if error %}
        <div class="medium-6 medium-centered columns">
           <small class="error" style="font-size:.9rem;">{{error}}</small>
        </div>
      {% endif %}

      <div class="medium-6 medium-centered columns">
      <article class="row">
        <div class="small-6 columns text-center">
      
        <button class="expand round">ACTUALIZAR</button>
      </div>
        <div class="small-6 columns text-center">
      <a class="button expand round secondary" href="/">REGRESAR</a>
      </div>
      </article> 
      </div>
    </div>
    </form>  
  </div>
    
</div>
</section>
{% endblock contenido %}