{% extends "base/menu.html" %}
{% block title %}Actualizar Empresa{% endblock title %}
{% load staticfiles %}
{% block cssFormulario %}
     <link rel="stylesheet" type="text/css" href="{% static "datepicker/themes/default.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "datepicker/themes/default.date.css" %}">
{% endblock cssFormulario %}
{% block chartjs %}
  <script src="{% static "datepicker/picker.js" %}"></script>
  <script src="{% static "datepicker/picker.date.js" %}"></script>
  <script src="{% static "datepicker/translations/es_ES.js" %}"></script>
{% endblock chartjs %}
{% block graficajs %}
<script >
    $('.datepicker').pickadate();
</script>    
{% endblock graficajs %}
{% block contenido %}
    <section class="row panel regular">
    <article class="small-12 columns" style="background: #fff;">
        <!-- Perfil Formulario -->
        {{ usuario.non_field_errors }}
       <form method="POST" action="./" novalidate>{% csrf_token %}
            <h2 class="text-center panel callout">Datos Empresa</h2>

           <!-- por cada bloque -->
      <div class="row">
        <div class="medium-12 columns panel callout">
          <label>1.-Tipo de Empresa</label>
          {{ usuario.tipo.errors }}
          <input type="radio" name="tipo" value="1"class="small-12.columns text-center" {% if usuario.tipo.value == "1" %}checked {% endif %}><label for="1">Publico</label>
          <input type="radio" name="tipo" value="2"class="small-12.columns text-center" {% if usuario.tipo.value == "2" %}checked {% endif %}><label for="2">Privado</label>
          <input type="radio" name="tipo" value="3"class="small-12.columns text-center" {% if usuario.tipo.value == "3" %}checked {% endif %}><label for="3">Social</label>
        </div>

        <div class="medium-6 columns">
        {{ usuario.giro_actividad.errors }}
          <input  type="text" {%if usuario.giro_actividad.value%}value="{{usuario.giro_actividad.value}}"{%endif%} name="giro_actividad" class="small-12.columns text-center" placeholder="Giro o Actividad" required/>
        </div>

        <div class="medium-6 columns panel callout">
        {{ usuario.razon_social.errors }}
          <input  type="text" {%if usuario.razon_social.value%}value="{{usuario.razon_social.value}}"{%endif%} name="razon_social" class="small-12.columns text-center" placeholder="Razon Social" required/>
        </div>

        <div class="medium-6 columns">
        {{ usuario.domicilio.errors }}
          <input  type="text" {%if usuario.domicilio.value%}value="{{usuario.domicilio.value}}"{%endif%} name="domicilio" class="small-12.columns text-center" placeholder="Domicilio" required/>
        </div>

        <div class="medium-6 columns panel callout">
        {{ usuario.cuidad.errors }}
          <input  type="text" {%if usuario.ciudad.value%}value="{{usuario.ciudad.value}}"{%endif%} name="ciudad" class="small-12.columns text-center" placeholder="ciudad" required/>
        </div>

        <div class="medium-6 columns">
        {{ usuario.municipio.errors }}
          <input  type="text" {%if usuario.municipio.value%}value="{{usuario.municipio.value}}"{%endif%} name="municipio" class="small-12.columns text-center" placeholder="Municipio" required/>
        </div>

        <div class="medium-6 columns panel callout">
          <select name="estado">
        {%if usuario.estado%} 
        <option value="{{usuario.estado.value}}" selected="selected">{{usuario.estado.value}}
        </option> {%endif%}
              <option value="Aguascalientes">Aguascalientes</option>
              <option value="Baja California">Baja California </option>
              <option value="Baja California Sur">Baja California Sur </option>
              <option value="Campeche">Campeche </option>
              <option value="Chiapas">Chiapas </option>
              <option value="Chihuahua">Chihuahua </option>
              <option value="Coahuila">Coahuila </option>
              <option value="Colima">Colima </option>
              <option value="Distrito Federal">Distrito Federal</option>
              <option value="Durango">Durango </option>
              <option value="Estado de Mexico">Estado de México </option>
              <option value="Guanajuato">Guanajuato </option>
              <option value="Guerrero">Guerrero </option>
              <option value="Hidalgo">Hidalgo </option>
              <option value="Jalisco">Jalisco </option>
              <option value="Michoacan">Michoacán </option>
              <option value="Morelos">Morelos </option>
              <option value="Nayarit">Nayarit </option>
              <option value="Nuevo Leon">Nuevo León </option>
              <option value="Oaxaca">Oaxaca </option>
              <option value="Puebla"selected>Puebla </option>
              <option value="Queretaro">Querétaro </option>
              <option value="Quintana Roo">Quintana Roo </option>
              <option value="San Luis Potosi">San Luis Potosí </option>
              <option value="Sinaloa">Sinaloa </option>
              <option value="Sonora">Sonora </option>
              <option value="Tabasco">Tabasco </option>
              <option value="Tamaulipas">Tamaulipas </option>
              <option value="Tlaxcala">Tlaxcala </option>
              <option value="Veracruz">Veracruz </option>
              <option value="Yucatan">Yucatán </option>
              <option value="Zacatecas">Zacatecas</option></select>
        </div>

        <div class="medium-6 columns panel callout">
        {{ usuario.telefono.errors }}
          <input  type="text" {%if usuario.telefono.value%}value="{{usuario.telefono.value}}"{%endif%} name="telefono" class="small-12.columns text-center" placeholder="Telefono" required/>
        </div>

        <div class="medium-6 columns">
        {{ usuario.tipo.errors }}
          <input  type="text" {%if usuario.fax.value%}value="{{usuario.fax.value}}"{%endif%}name="fax" class="small-12.columns text-center" placeholder="Fax"/>
        </div>

        <div class="medium-6 columns panel callout">
        {{ usuario.e_mail.errors }}
        <input  type="email" {%if usuario.e_mail.value%}value="{{usuario.e_mail.value}}"{%endif%} name="e_mail" class="small-12.columns text-center" placeholder="e-mail" required/>
        </div>

        <div class="medium-6 columns">
        {{ usuario.url.errors }}
          <input  type="url" {%if usuario.url.value%}value="{{usuario.url.value}}"{%endif%} name="url" class="small-12.columns text-center" placeholder="Url"/>
        </div>

        <div class="medium-12 columns panel callout">
          <label> Tamaño de la Empresa</label>
          <div class="row">
            <div class="medium-6 columns">
            {{ usuario.tam_empresa.errors }}
              <input type="radio" name="tam_empresa" value="1"class="small-12.columns text-center" {% if usuario.tam_empresa.value == "1" %}checked {% endif %}><label for="1">Microempresa (1-30)</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="tam_empresa" value="2"class="small-12.columns text-center" {% if usuario.tam_empresa.value == "2" %}checked {% endif %}><label for="2">Pequeña  (31-100)</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="tam_empresa" value="3"class="small-12.columns text-center" {% if usuario.tam_empresa.value == "3" %}checked {% endif %}><label for="3">Mediana (101-500)</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="tam_empresa" value="4"class="small-12.columns text-center" {% if usuario.tam_empresa.value == "4" %}checked {% endif %}><label for="4">Grande (mas de 500)</label>
            </div>
          </div>
        </div>



        <div class="medium-12 columns">
        <label>Sector</label>
           <select name="sector_economico">
           {%if usuario.sector_economico%} <option value="{{usuario.sector_economico}}" selected>{{usuario.get_sector_economico_display}} </option> {%endif%}
              <optgroup label="SECTOR PRIMARIO">
              <option value="11" selected=""> Agroindustria </option>
              <option value="12"> Pesquero </option>
              <option value="13"> Minero </option>
              <option value="14"> Otros </option>
              </optgroup>
              <optgroup label="SECTOR SECUNDARIO">
              <option value="21"> Industrial </option>
              <option value="22"> Construcción </option>
              <option value="23"> Petrolero</option>
              <option value="24"> Otros </option>
              </optgroup>
              <optgroup label="SECTOR TERCIARIO">
              <option value="31"> Educativo </option>
              <option value="32"> Turismo </option>
              <option value="33"> Comercio </option>
              <option value="34"> Servicios financieros </option>
              <option value="35"> Otros </option>
              </optgroup>
            </select>
        </div>

        <div class="medium-12 columns panel callout">
          <label> Área o Campo de Estudio </label>
          <div class="row">
            <div class="medium-6 columns">
            {{ usuario.area_estudio.errors }}
              <input type="radio" name="area_estudio" value="1"class="small-12.columns text-center" {% if usuario.area_estudio.value == "1" %}checked {% endif %}><label for="1">Poco</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="area_estudio" value="2"class="small-12.columns text-center" {% if usuario.area_estudio.value == "2" %}checked {% endif %}><label for="2">Significativo</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="area_estudio" value="3"class="small-12.columns text-center" {% if usuario.area_estudio.value == "3" %}checked {% endif %}><label for="3">Moderado</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="area_estudio" value="4"class="small-12.columns text-center" {% if usuario.area_estudio.value == "4" %}checked {% endif %}><label for="4">Regular</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="area_estudio" value="4"class="small-12.columns text-center" {% if usuario.area_estudio.value == "5" %}checked {% endif %}><label for="4">Mucho</label>
            </div>
          </div>
        </div>

        <div class="medium-12 columns">
          <label> Titulación </label>
        <div class="row">
            <div class="medium-6 columns">
            {{ usuario.titulacion.errors }}
              <input type="radio" name="titulacion" value="1"class="small-12.columns text-center" {% if usuario.titulacion.value == "1" %}checked {% endif %}><label for="1">Poco</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="titulacion" value="2"class="small-12.columns text-center" {% if usuario.titulacion.value == "2" %}checked {% endif %}><label for="2">Significativo</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="titulacion" value="3"class="small-12.columns text-center" {% if usuario.titulacion.value == "3" %}checked {% endif %}><label for="3">Moderado</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="titulacion" value="4"class="small-12.columns text-center" {% if usuario.titulacion.value == "4" %}checked {% endif %}><label for="4">Regular</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="titulacion" value="4"class="small-12.columns text-center" {% if usuario.titulacion.value == "5" %}checked {% endif %}><label for="5">Mucho</label>
            </div>
          </div>
        </div>

        <div class="medium-12 columns panel callout">
          <label> Experiencia Laboral/práctica (antes de egresar) </label>
        <div class="row">
            <div class="medium-6 columns">
            {{ usuario.exp_lab.errors }}
              <input type="radio" name="exp_lab" value="1"class="small-12.columns text-center" {% if usuario.exp_lab.value == "1" %}checked {% endif %}><label for="1">Poco</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="exp_lab" value="2"class="small-12.columns text-center" {% if usuario.exp_lab.value == "2" %}checked {% endif %}><label for="2">Significativo</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="exp_lab" value="3"class="small-12.columns text-center" {% if usuario.exp_lab.value == "3" %}checked {% endif %}><label for="3">Moderado</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="exp_lab" value="4"class="small-12.columns text-center" {% if usuario.exp_lab.value == "4" %}checked {% endif %}><label for="4">Regular</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="exp_lab" value="4"class="small-12.columns text-center" {% if usuario.exp_lab.value == "5" %}checked {% endif %}><label for="5">Mucho</label>
            </div>
          </div>
        </div>

        <div class="medium-12 columns">
          <label> Competencia Laboral: Habilidad para resolver problemas, capacidad de análisis, habilidad para el aprendizaje, creatividad, administración del tiempo, capacidad de negociación, habilidades manuales, trabajo en equipo, iniciativa, honestidad, persistencia, etc. </label>
        <div class="row">
            <div class="medium-6 columns">
            {{ usuario.comp_lab.errors }}
              <input type="radio" name="comp_lab" value="1"class="small-12.columns text-center" {% if usuario.comp_lab.value == "1" %}checked {% endif %}><label for="1">Poco</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="comp_lab" value="2"class="small-12.columns text-center" {% if usuario.comp_lab.value == "2" %}checked {% endif %}><label for="2">Significativo</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="comp_lab" value="3"class="small-12.columns text-center" {% if usuario.comp_lab.value == "3" %}checked {% endif %}><label for="3">Moderado</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="comp_lab" value="4"class="small-12.columns text-center" {% if usuario.comp_lab.value == "4" %}checked {% endif %}><label for="4">Regular</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="comp_lab" value="4"class="small-12.columns text-center" {% if usuario.comp_lab.value == "5" %}checked {% endif %}><label for="5">Mucho</label>
            </div>
          </div>
        </div>

        <div class="medium-12 columns panel callout">
          <label> Posicionamiento de la Institución de Egreso </label>
        <div class="row">
            <div class="medium-6 columns">
            {{ usuario.posicion_inst.errors }}
              <input type="radio" name="posicion_inst" value="1"class="small-12.columns text-center" {% if usuario.posicion_inst.value == "1" %}checked {% endif %}><label for="1">Poco</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="posicion_inst" value="2"class="small-12.columns text-center" {% if usuario.posicion_inst.value == "2" %}checked {% endif %}><label for="2">Significativo</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="posicion_inst" value="3"class="small-12.columns text-center" {% if usuario.posicion_inst.value == "3" %}checked {% endif %}><label for="3">Moderado</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="posicion_inst" value="4"class="small-12.columns text-center" {% if usuario.posicion_inst.value == "4" %}checked {% endif %}><label for="4">Regular</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="posicion_inst" value="4"class="small-12.columns text-center" {% if usuario.posicion_inst.value == "5" %}checked {% endif %}><label for="5">Mucho</label>
            </div>
          </div>
        </div>

        <div class="medium-12 columns">
          <label> Conocimiento de Idiomas Extranjeros </label>
        <div class="row">
            <div class="medium-6 columns">
            {{ usuario.conocim_idiomas.errors }}
              <input type="radio" name="conocim_idiomas" value="1"class="small-12.columns text-center" {% if usuario.conocim_idiomas.value == "1" %}checked {% endif %}><label for="1">Poco</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="conocim_idiomas" value="2"class="small-12.columns text-center" {% if usuario.conocim_idiomas.value == "2" %}checked {% endif %}><label for="2">Significativo</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="conocim_idiomas" value="3"class="small-12.columns text-center" {% if usuario.conocim_idiomas.value == "3" %}checked {% endif %}><label for="3">Moderado</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="conocim_idiomas" value="4"class="small-12.columns text-center" {% if usuario.conocim_idiomas.value == "4" %}checked {% endif %}><label for="4">Regular</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="conocim_idiomas" value="4"class="small-12.columns text-center" {% if usuario.conocim_idiomas.value == "5" %}checked {% endif %}><label for="5">Mucho</label>
            </div>
          </div>
        </div>

        <div class="medium-12 columns panel callout">
          <label> Recomendaciones/ referencias </label>
        <div class="row">
            <div class="medium-6 columns">
            {{ usuario.recomend_actitud.errors }}
              <input type="radio" name="recomend_actitud" value="1"class="small-12.columns text-center" {% if usuario.recomend_actitud.value == "1" %}checked {% endif %}><label for="1">Poco</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="recomend_actitud" value="2"class="small-12.columns text-center" {% if usuario.recomend_actitud.value == "2" %}checked {% endif %}><label for="2">Significativo</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="recomend_actitud" value="3"class="small-12.columns text-center" {% if usuario.recomend_actitud.value == "3" %}checked {% endif %}><label for="3">Moderado</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="recomend_actitud" value="4"class="small-12.columns text-center"{% if usuario.recomend_actitud.value == "4" %}checked {% endif %}><label for="4">Regular</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="recomend_actitud" value="4"class="small-12.columns text-center" {% if usuario.recomend_actitud.value == "5" %}checked {% endif %}><label for="5">Mucho</label>
            </div>
          </div>
        </div>

        <div class="medium-12 columns">
          <label> Personalidad/Actitudes </label>
        <div class="row">
            <div class="medium-6 columns">
            {{ usuario.personalidad.errors }}
              <input type="radio" name="personalidad" value="1"class="small-12.columns text-center" {% if usuario.personalidad.value == "1" %}checked {% endif %}><label for="1">Poco</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="personalidad" value="2"class="small-12.columns text-center" {% if usuario.personalidad.value == "2" %}checked {% endif %}><label for="2">Significativo</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="personalidad" value="3"class="small-12.columns text-center" {% if usuario.personalidad.value == "3" %}checked {% endif %}><label for="3">Moderado</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="personalidad" value="4"class="small-12.columns text-center" {% if usuario.personalidad.value == "4" %}checked {% endif %}><label for="4">Regular</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="personalidad" value="4"class="small-12.columns text-center" {% if usuario.personalidad.value == "5" %}checked {% endif %}><label for="5">Mucho</label>
            </div>
          </div>
        </div>

        <div class="medium-12 columns panel callout">
          <label> Capacidad de liderazgo </label>
        <div class="row">
            <div class="medium-6 columns">
            {{ usuario.cap_liderazgo.errors }}
              <input type="radio" name="cap_liderazgo" value="1"class="small-12.columns text-center" {% if usuario.cap_liderazgo.value == "1" %}checked {% endif %}><label for="1">Poco</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="cap_liderazgo" value="2"class="small-12.columns text-center" {% if usuario.cap_liderazgo.value == "2" %}checked {% endif %}><label for="2">Significativo</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="cap_liderazgo" value="3"class="small-12.columns text-center" {% if usuario.cap_liderazgo.value == "3" %}checked {% endif %}><label for="3">Moderado</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="cap_liderazgo" value="4"class="small-12.columns text-center" {% if usuario.cap_liderazgo.value == "4" %}checked {% endif %}><label for="4">Regular</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="cap_liderazgo" value="4"class="small-12.columns text-center" {% if usuario.cap_liderazgo.value == "5" %}checked {% endif %}><label for="5">Mucho</label>
            </div>
          </div>
        </div>

        <div class="medium-12 columns">
          <label> Otros </label>
        <div class="row">
            <div class="medium-6 columns">
            {{ usuario.otros_asp.errors }}
              <input type="radio" name="otros_asp" value="1"class="small-12.columns text-center" {% if usuario.otros_asp.value == "1" %}checked {% endif %}><label for="1">Poco</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="otros_asp" value="2"class="small-12.columns text-center" {% if usuario.otros_asp.value == "2" %}checked {% endif %}><label for="2">Significativo</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="otros_asp" value="3"class="small-12.columns text-center" {% if usuario.otros_asp.value == "3" %}checked {% endif %}><label for="3">Moderado</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="otros_asp" value="4"class="small-12.columns text-center" {% if usuario.otros_asp.value == "4" %}checked {% endif %}><label for="4">Regular</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="otros_asp" value="4"class="small-12.columns text-center" {% if usuario.otros_asp.value == "5" %}checked {% endif %}><label for="5">Mucho</label>
            </div>
          </div>
        </div>
        <div class="medium-12 columns panel callout">
          <h2 class="text-center panel callout">Datos Encargado</h2></div>
    

        <div class="medium-6 columns panel callout">
        {{ encargado.nom_encargado.errors }}
        <input  type="text" {%if encargado.nom_encargado.value%}value="{{encargado.nom_encargado.value}}"{%endif%} name="nom_encargado" class="small-12.columns text-center" placeholder="Nombre del Encargado" required/>
      </div>

      <div class="medium-6 columns panel ">
      {{ encargado.titulo.errors }}
        <input  type="text" {%if encargado.titulo.value%}value="{{encargado.titulo.value}}"{%endif%} name="titulo" class="small-12.columns text-center" placeholder="Titulo" required/>
      </div>

      <div class="medium-6 columns panel callout">
      {{ encargado.puesto.errors }}
        <input  type="text" {%if encargado.puesto.value%}value="{{encargado.puesto.value}}"{%endif%}name="puesto" class="small-12.columns text-center" placeholder="Puesto" required/>
      </div>



     </div> <!--Row principal -->

      
       
        <!-- aqui empiezan boton de Enviar -->
        <div class="row">
            <div class="medium-6 medium-centered columns">
                <input class="button round expand" type="submit" value="Enviar Datos">
            </div>
        </div>



       </form>

       <div id="aviso" class="reveal-modal medium" data-reveal aria-labelledby="AlumnoRegistrado" aria-hidden="true" role="dialog">
  <h2 id="AlumnoRegistrado">Encuesta Realizada</h2>
  <p class="lead">Gracias Por regristrar tus datos</p>
  <p>Aquí puedes actualizar tus datos:</p>
  <a href="/egresado/actualizar" class="button round">
    Actualizar Datos
  </a>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
        
    </article>
</section>
{% endblock contenido %}