{% extends "base/menu.html" %}
{% block title %}Actualizar Empresa{% endblock title %}
{% load staticfiles %}
{% block cssFormulario %}
     <link rel="stylesheet" type="text/css" href="{% static "datepicker/themes/default.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "datepicker/themes/default.date.css" %}">
{% endblock cssFormulario %}
{% block chartjs %}
  <script src="{% static "datepicker/picker.js" %}"></script>
  <script src="{% static "datepicker/picker.date.js" %}"></script>
  <script src="{% static "datepicker/translations/es_ES.js" %}"></script>
{% endblock chartjs %}
{% block graficajs %}
<script >
    $('.datepicker').pickadate();
</script>    
{% endblock graficajs %}

{% block contenido %}
    <section class="row panel regular">
    <article class="small-12 columns" style="background: #fff;">
        <!-- Perfil Formulario -->
       <form action="." method="POST">{% csrf_token %}
            <h2 class="text-center panel callout">Datos Empresa</h2>

           <!-- por cada bloque -->
      <div class="row">

        <div class="medium-12 columns">
          <label>1.-Tipo de Empresa</label>
          <input type="radio" name="tipo" value="1"class="small-12.columns text-center"><label for="1">Publico</label>
          <input type="radio" name="tipo" value="2"class="small-12.columns text-center"><label for="2">Privado</label>
          <input type="radio" name="tipo" value="3"class="small-12.columns text-center"><label for="3">Social</label>
        </div>

        <div class="medium-6 columns">
          <input  type="text" {%if user.giro_actividad%}value="{{user.giro_actividad}}"{{endif}} name="giro_actividad" class="small-12.columns text-center" placeholder="Giro o Actividad" required/>
        </div>

        <div class="medium-6 columns">
          <input  type="text" {%if user.razon_social%}value="{{user.razon_social}}"{%endif%} name="razon_social" class="small-12.columns text-center" placeholder="Razon Social" required/>
        </div>

        <div class="medium-6 columns">
          <input  type="text" {%if user.domicilio%}value="{{user.domicilio}}"{%endif%} name="domicilio" class="small-12.columns text-center" placeholder="Domicilio" required/>
        </div>

        <div class="medium-6 columns">
          <input  type="text" {%if user.cuidad%}value="{{user.cuidad}}"{%endif%} name="cuidad" class="small-12.columns text-center" placeholder="Cuidad" required/>
        </div>

        <div class="medium-6 columns">
          <input  type="text" {%if user.municipio%}value="{{user.municipio}}"{%endif%} name="municipio" class="small-12.columns text-center" placeholder="Municipio" required/>
        </div>

        <div class="medium-6 columns">
          <select name="estado">
        {%if user.estado%} <option value="{{user.estado}}" selected>{{user.get_estado_display}} </option> {{endif}}
              <option value="Aguascalientes">Aguascalientes</option>
              <option value="Baja California">Baja California </option>
              <option value="Baja California Sur">Baja California Sur </option>
              <option value="Campeche">Campeche </option>
              <option value="Chiapas">Chiapas </option>
              <option value="Chihuahua">Chihuahua </option>
              <option value="Coahuila">Coahuila </option>
              <option value="Colima">Colima </option>
              <option value="Distrito Federal">Distrito Federal</option>
              <option value="Durango">Durango </option>
              <option value="Estado de Mexico">Estado de México </option>
              <option value="Guanajuato">Guanajuato </option>
              <option value="Guerrero">Guerrero </option>
              <option value="Hidalgo">Hidalgo </option>
              <option value="Jalisco">Jalisco </option>
              <option value="Michoacan">Michoacán </option>
              <option value="Morelos">Morelos </option>
              <option value="Nayarit">Nayarit </option>
              <option value="Nuevo Leon">Nuevo León </option>
              <option value="Oaxaca">Oaxaca </option>
              <option value="Puebla"selected>Puebla </option>
              <option value="Queretaro">Querétaro </option>
              <option value="Quintana Roo">Quintana Roo </option>
              <option value="San Luis Potosi">San Luis Potosí </option>
              <option value="Sinaloa">Sinaloa </option>
              <option value="Sonora">Sonora </option>
              <option value="Tabasco">Tabasco </option>
              <option value="Tamaulipas">Tamaulipas </option>
              <option value="Tlaxcala">Tlaxcala </option>
              <option value="Veracruz">Veracruz </option>
              <option value="Yucatan">Yucatán </option>
              <option value="Zacatecas">Zacatecas</option></select>
        </div>

        <div class="medium-6 columns">
          <input  type="text" {%if user.telefono%}value="{{user.telefono}}"{%endif%} name="telefono" class="small-12.columns text-center" placeholder="Telefono" required/>
        </div>

        <div class="medium-6 columns">
          <input  type="text" {%if user.fax%}value="{{user.fax}}"{%endif%}name="fax" class="small-12.columns text-center" placeholder="Fax" required/>
        </div>

        <div class="medium-6 columns">
        <input  type="email" {%if user.e_mail%}value="{{user.e_mail}}"{%endif%} name="e_mail" class="small-12.columns text-center" placeholder="e-mail" required/>
        </div>

        <div class="medium-6 columns">
          <input  type="url" {%if user.url%}value="{{user.url}}"{%endif%} name="url" class="small-12.columns text-center" placeholder="Url" required/>
        </div>

        <div class="medium-12 columns panel callout">
          <label> Tamaño de la Empresa</label>
          <select name= "tam_empresa">
           {%if user.tam_empresa%} <option value="{{user.tam_empresa}}" selected>{{user.get_tam_emmpresa_display}} </option>{%endif%}
          <div class="row">
            <div class="medium-6 columns">
              <input type="radio" name="tam_empresa" value="1"class="small-12.columns text-center"><label for="1">Microempresa (1-30)</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="tam_empresa" value="2"class="small-12.columns text-center"><label for="2">Pequeña  (31-100)</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="tam_empresa" value="3"class="small-12.columns text-center"><label for="3">Mediana (101-500)</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="tam_empresa" value="4"class="small-12.columns text-center"><label for="4">Grande (mas de 500)</label>
            </div>
          </div>
        </select>
        </div>



        <div class="medium-12 columns">
        <label>Sector</label>
        {%if user.sector_economico%} <option value="{{user.sector_economico}}" selected>{{user.get_sector_economico_display}} </option> {{endif}}
           <select name="sector_economico">
              <optgroup label="SECTOR PRIMARIO">
              <option value="11" selected=""> Agroindustria </option>
              <option value="12"> Pesquero </option>
              <option value="13"> Minero </option>
              <option value="14"> Otros </option>
              </optgroup>
              <optgroup label="SECTOR SECUNDARIO">
              <option value="21"> Industrial </option>
              <option value="22"> Construcción </option>
              <option value="23"> Petrolero</option>
              <option value="24"> Otros </option>
              </optgroup>
              <optgroup label="SECTOR TERCIARIO">
              <option value="31"> Educativo </option>
              <option value="32"> Turismo </option>
              <option value="33"> Comercio </option>
              <option value="34"> Servicios financieros </option>
              <option value="35"> Otros </option>
              </optgroup>
            </select>

        </div>

        <div class="medium-12 columns panel callout">
          <label> Área o Campo de Estudio </label>
          <select name= "area_estudio">
        {%if user.area_estudio%} <option value="{{user.area_estudio}}" selected>{{user.get_area_estudio_display}} </option> {{endif}}
          <div class="row">
            <div class="medium-6 columns">
              <input type="radio" name="area_estudio" value="1"class="small-12.columns text-center"><label for="1">Poco</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="area_estudio" value="2"class="small-12.columns text-center"><label for="2">Significativo</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="area_estudio" value="3"class="small-12.columns text-center"><label for="3">Moderado</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="area_estudio" value="4"class="small-12.columns text-center"><label for="4">Regular</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="area_estudio" value="4"class="small-12.columns text-center"><label for="4">Mucho</label>
            </div>
          </div>
        </select>
        </div>

        <div class="medium-12 columns">
          <label> Titulación </label>
          <select name= "titulacion">
        {%if user.titulacion%} <option value="{{user.titulacion}}" selected>{{user.get_titulacion_display}} </option> {{endif}}
        <div class="row">
            <div class="medium-6 columns">
              <input type="radio" name="titulacion" value="1"class="small-12.columns text-center"><label for="1">Poco</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="titulacion" value="2"class="small-12.columns text-center"><label for="2">Significativo</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="titulacion" value="3"class="small-12.columns text-center"><label for="3">Moderado</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="titulacion" value="4"class="small-12.columns text-center"><label for="4">Regular</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="titulacion" value="4"class="small-12.columns text-center"><label for="5">Mucho</label>
            </div>
          </div>
        </select>
        </div>

        <div class="medium-12 columns panel callout">
          <label> Experiencia Laboral/práctica (antes de egresar) </label>
          <select name= "exp_lab">
        {%if user.exp_lab%} <option value="{{user.exp_lab}}" selected>{{user.get_exp_lab_display}} </option> {{endif}}
        <div class="row">
            <div class="medium-6 columns">
              <input type="radio" name="exp_lab" value="1"class="small-12.columns text-center"><label for="1">Poco</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="exp_lab" value="2"class="small-12.columns text-center"><label for="2">Significativo</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="exp_lab" value="3"class="small-12.columns text-center"><label for="3">Moderado</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="exp_lab" value="4"class="small-12.columns text-center"><label for="4">Regular</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="exp_lab" value="4"class="small-12.columns text-center"><label for="5">Mucho</label>
            </div>
          </div>
        </select>
        </div>

        <div class="medium-12 columns">
          <label> Competencia Laboral: Habilidad para resolver problemas, capacidad de análisis, habilidad para el aprendizaje, creatividad, administración del tiempo, capacidad de negociación, habilidades manuales, trabajo en equipo, iniciativa, honestidad, persistencia, etc. </label>
          <select name= "comp_lab">
        {%if user.comp_lab%} <option value="{{user.comp_lab}}" selected>{{user.get_comp_lab_display}} </option> {{endif}}
        <div class="row">
            <div class="medium-6 columns">
              <input type="radio" name="comp_lab" value="1"class="small-12.columns text-center"><label for="1">Poco</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="comp_lab" value="2"class="small-12.columns text-center"><label for="2">Significativo</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="comp_lab" value="3"class="small-12.columns text-center"><label for="3">Moderado</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="comp_lab" value="4"class="small-12.columns text-center"><label for="4">Regular</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="comp_lab" value="4"class="small-12.columns text-center"><label for="5">Mucho</label>
            </div>
          </div>
        </select>
        </div>

        <div class="medium-12 columns panel callout">
          <label> Posicionamiento de la Institución de Egreso </label>
          <select name= "posicion_inst">
        {%if user.posicion_inst%} <option value="{{user.posicion_inst}}" selected>{{user.get_posicion_inst_display}} </option> {{endif}}
        <div class="row">
            <div class="medium-6 columns">
              <input type="radio" name="posicion_inst" value="1"class="small-12.columns text-center"><label for="1">Poco</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="posicion_inst" value="2"class="small-12.columns text-center"><label for="2">Significativo</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="posicion_inst" value="3"class="small-12.columns text-center"><label for="3">Moderado</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="posicion_inst" value="4"class="small-12.columns text-center"><label for="4">Regular</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="posicion_inst" value="4"class="small-12.columns text-center"><label for="5">Mucho</label>
            </div>
          </div>
        </select>
        </div>

        <div class="medium-12 columns">
          <label> Conocimiento de Idiomas Extranjeros </label>
          <select name= "conocim_idiomas">
        {%if user.conocim_idiomas%} <option value="{{user.conocim_idiomas}}" selected>{{user.get_conocim_idiomas_display}} </option> {{endif}}
        <div class="row">
            <div class="medium-6 columns">
              <input type="radio" name="conocim_idiomas" value="1"class="small-12.columns text-center"><label for="1">Poco</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="conocim_idiomas" value="2"class="small-12.columns text-center"><label for="2">Significativo</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="conocim_idiomas" value="3"class="small-12.columns text-center"><label for="3">Moderado</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="conocim_idiomas" value="4"class="small-12.columns text-center"><label for="4">Regular</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="conocim_idiomas" value="4"class="small-12.columns text-center"><label for="5">Mucho</label>
            </div>
          </div>
        </select>
        </div>

        <div class="medium-12 columns panel callout">
          <label> Recomendaciones/ referencias </label>
          <select name= "recomend_actitud">
        {%if user.recomend_actitud%} <option value="{{user.recomend_actitud}}" selected>{{user.get_recomend_actitud_display}} </option> {{endif}}
        <div class="row">
            <div class="medium-6 columns">
              <input type="radio" name="recomend_actitud" value="1"class="small-12.columns text-center"><label for="1">Poco</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="recomend_actitud" value="2"class="small-12.columns text-center"><label for="2">Significativo</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="recomend_actitud" value="3"class="small-12.columns text-center"><label for="3">Moderado</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="recomend_actitud" value="4"class="small-12.columns text-center"><label for="4">Regular</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="recomend_actitud" value="4"class="small-12.columns text-center"><label for="5">Mucho</label>
            </div>
          </div>
        </select>
        </div>

        <div class="medium-12 columns">
          <label> Personalidad/Actitudes </label>
          <select name= "personalidad">
        {%if user.personalidad%} <option value="{{user.personalidad}}" selected>{{user.get_personalidad_display}} </option> {{endif}}
        <div class="row">
            <div class="medium-6 columns">
              <input type="radio" name="personalidad" value="1"class="small-12.columns text-center"><label for="1">Poco</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="personalidad" value="2"class="small-12.columns text-center"><label for="2">Significativo</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="personalidad" value="3"class="small-12.columns text-center"><label for="3">Moderado</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="personalidad" value="4"class="small-12.columns text-center"><label for="4">Regular</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="personalidad" value="4"class="small-12.columns text-center"><label for="5">Mucho</label>
            </div>
          </div>
        </select>
        </div>

        <div class="medium-12 columns panel callout">
          <label> Capacidad de liderazgo </label>
          <select name= "cap_liderazgo">
        {%if user.cap_liderazgo%} <option value="{{user.cap_liderazgo}}" selected>{{user.get_cap_liderazgo_display}} </option> {{endif}}
        <div class="row">
            <div class="medium-6 columns">
              <input type="radio" name="cap_liderazgo" value="1"class="small-12.columns text-center"><label for="1">Poco</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="cap_liderazgo" value="2"class="small-12.columns text-center"><label for="2">Significativo</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="cap_liderazgo" value="3"class="small-12.columns text-center"><label for="3">Moderado</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="cap_liderazgo" value="4"class="small-12.columns text-center"><label for="4">Regular</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="cap_liderazgo" value="4"class="small-12.columns text-center"><label for="5">Mucho</label>
            </div>
          </div>
        </select>
        </div>

        <div class="medium-12 columns">
          <label> Otros </label>
          <select name= "otros_asp">
        {%if user.otros_asp%} <option value="{{user.otros_asp}}" selected>{{user.get_otros_asp_display}} </option> {{endif}}
        <div class="row">
            <div class="medium-6 columns">
              <input type="radio" name="otros_asp" value="1"class="small-12.columns text-center"><label for="1">Poco</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="otros_asp" value="2"class="small-12.columns text-center"><label for="2">Significativo</label>
            </div>
            <div class="medium-6 columns">
              <input type="radio" name="otros_asp" value="3"class="small-12.columns text-center"><label for="3">Moderado</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="otros_asp" value="4"class="small-12.columns text-center"><label for="4">Regular</label>
            </div>
            <div class="medium-6 columns">
               <input type="radio" name="otros_asp" value="4"class="small-12.columns text-center"><label for="5">Mucho</label>
            </div>
          </div>
        </select>
        </div>

      </div>
      <h2 class="text-center panel callout">Datos Encargado</h2>
    

        <div class="medium-6 columns panel callout">
        <input  type="text" {%if user.nom_encargado%}value="{{user.nom_encargado}}"{%endif%} name="nom_encargado" class="small-12.columns text-center" placeholder="Nombre del Encargado" required/>
      </div>

      <div class="medium-6 columns panel callout">
        <input  type="text" {%if user.titulo%}value="{{user.titulo}}"{%endif%} name="titulo" class="small-12.columns text-center" placeholder="Titulo" required/>
      </div>

      <div class="medium-6 columns panel callout">
        <input  type="text" {%if user.puesto%}value="{{user.puesto}}"{%endif%}name="puesto" class="small-12.columns text-center" placeholder="Puesto" required/>
      </div>



     </div> <!--Row principal -->

      
       
        <!-- aqui empiezan boton de Enviar -->
        <div class="row">
            <div class="medium-6 medium-centered columns">
                <input class="button round expand" type="submit" value="Enviar Datos">
            </div>
        </div>



       </form>
        
    </article>
</section>
{% endblock contenido %}