{% extends "base/footer.html" %}
{% block title %}Nuevo Registro{% endblock title %}
{% block contenido %}
<section id="h_home">
    <header class="row text-center">
        <h1 class="text-white">
            "HOLA ALUMNO EGRESADO"
        </h1>
    </header>
</section>

<section id="bg_login">
  <div id="login" class="row">
    <div class="medium-6 medium-centered columns text-center">
        <h1>INSTITUTO TECNOLÓGICO DE TEHUACÁN</h1> 
        
</div>
<div class="small-12 columns text-center"> 
  <form name="form" method="post" action=".">{% csrf_token %}
  <div class="row paddingtop">
    <div class="medium-6 medium-centered columns text-center">
      
        <input id="id_username" type="text" name="username" class="small-12.columns text-center" placeholder="Num Control" required/>
      </div>
      <div class="medium-6 medium-centered columns text-center">
      
        <input type="password" id="id_password" name="password" class="small-12.columns text-center" placeholder="Contraseña" required/>
      </div>

       {% if error %}
        <div class="medium-6 medium-centered columns">
           <small class="error" style="font-size:.9rem;">{{error}}</small>
        </div>
      {% endif %}

      <div class="medium-6 medium-centered columns">
      <article class="row">
        <div class="small-6 columns text-center">
      
        <button class="expand round">REGISTRAR</button>
      </div>
        <div class="small-6 columns text-center">
      <a class="button expand round secondary" href="/">REGRESAR</a>
      </div>
      </article> 
      </div>
      <div class="medium-6 medium-centered columns text-center paddingtop">
      <p><a href="/">SI YA TIENES USUARIO, INICIA SESION AQUI</a></p>
      </div>
    </div>
    </form>  
  </div>
    
</div>
<div id="aviso" class="reveal-modal medium" data-reveal aria-labelledby="AlumnoRegistrado" aria-hidden="true" role="dialog">
  <h2 id="AlumnoRegistrado">Alumno Registrado</h2>
  <p class="lead">Alumno agregado exitosamente</p>
  <p>ya puedes iniciar sesión Usuario : {{modal}} con tu Contraseña</p>
  <a href="/" class="button round">
    Iniciar Sesión
  </a>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
</section>
{% endblock contenido %}
{% block graficajs %}
    {% if modal %}
    <script>
      $('#aviso').foundation('reveal', 'open');
      </script>
      
    {% endif %}
{% endblock graficajs %}