{% extends "base/menu.html" %}
{% block graficaform %}
<div class="row">
    <div class="medium-8 medium-centered columns text-center">
        <h2>{% block title %}Graficas{% endblock title %}</h2>
        <form>
            <div class="row">
                <div class="large-12 columns">
                  <label>Carrera
                    <select>
                          <option value="TODAS">TODAS</option>
                          
              <option {% if selectbio %}selected="selected" {% endif %} value= "1">Ing.Bioquimica</option>
              <option {% if selectciv %}selected="selected" {% endif %} value= "2">Ing.Civil</option>
              <option {% if selectelec %}selected="selected" {% endif %} value= "3">Ing. Electronica</option>
              <option {% if selectind %}selected="selected" {% endif %} value= "4">Ing. Industrial</option>
              <option {% if selectmec %}selected="selected" {% endif %} value= "5">Ing.Mecatronica</option>
              <option {% if selectsis %}selected="selected" {% endif %} value= "6">Ing. Sist. Computacionales</option>
              <option {% if selectadm %}selected="selected" {% endif %} value= "7">Lic. Administración</option>
              <option {% if selectcon %}selected="selected" {% endif %} value= "8">Contaduría Pública</option>
              <option {% if selectelem %}selected="selected" {% endif %} value= "9">Ing. Electromecánica</option>
              <option {% if selectges %}selected="selected" {% endif %} value= "10">Ing. Gestión Empresarial</option>
              <option {% if selectlog %}selected="selected" {% endif %} value= "11">Ing. Logistica</option>
                        </select>
                  </label>
                </div>
                <div class="medium-6 columns">
                    <label>Año
                        <select>
                          <option value="TODOS LOS ANIOS">TODOS LOS AÑOS</option>
                          <option value="2015">2015</option>
                          <option value="2014">2014</option>
                          <option value="2013">2013</option>
                          <option value="2012">2012</option>
                        </select>
                      </label>
                </div>
                <div class="medium-6 columns">
                    <label>Filtro
                        <select>
                          <option value="Sin Filtro">Sin Filtro</option>
                          <option value="Titulado">Titulado</option>
                          <option value="Sin titulo">Sin titulo</option>
                          <option value="Laborando">Laborando</option>
                          
                        </select>
                      </label>
                </div>
                <div class="small-12 columns">
                    <div class="row">
                    <div class="small-6 small-centered columns">
                        <p class="text-center"><button class="round expand">GRAFICAR</button></p>
                    </div>
                </div>
                </div>
                
                

            </div>
        </form>
    </div>
</div>
    
{% endblock graficaform %}

{% block contenido %}


<section class ="row paddingtop">
    <div class="small-12 columns">
        <!--Codigo de HTML de la grafica -->
        <div class="panel"> 
           <canvas id="canvas" height="450" width="600"></canvas>
        </div>

        


    </div>
</section>

{% endblock contenido %}
{% block chartjs %}
  {% load staticfiles %}
 <script src="{% static "js/vendor/Chart.min.js" %}"></script>
{% endblock chartjs %}
{% block graficajs %}

    <script>
        var randomScalingFactor = function(){ return Math.round(Math.random()*100)};
        var lineChartData = {
            labels : ["January","February","March","April","May","June","July"],
            datasets : [
                {
                    label: "My First dataset",
                    fillColor : "rgba(220,220,220,0.2)",
                    strokeColor : "rgba(220,220,220,1)",
                    pointColor : "rgba(220,220,220,1)",
                    pointStrokeColor : "#fff",
                    pointHighlightFill : "#fff",
                    pointHighlightStroke : "rgba(220,220,220,1)",
                    data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
                },
                {
                    label: "My Second dataset",
                    fillColor : "rgba(151,187,205,0.2)",
                    strokeColor : "rgba(151,187,205,1)",
                    pointColor : "rgba(151,187,205,1)",
                    pointStrokeColor : "#fff",
                    pointHighlightFill : "#fff",
                    pointHighlightStroke : "rgba(151,187,205,1)",
                    data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
                }
            ]

        }

    window.onload = function(){
        var ctx = document.getElementById("canvas").getContext("2d");
         var myLine = new Chart(ctx).Line(lineChartData, {
            responsive: true
        });
    }


    </script>
    
{% endblock graficajs %}