{% extends "graficas/grafica_base.html" %}
{% block title %}
Graficas Lineal    
{% endblock title %}
{% block contenido %}


<section class ="row paddingtop">
    <div class="small-12 columns">
        <!--Codigo de HTML de la grafica -->
        <canvas id="canvas" width="400" height="400"></canvas>


    </div>
</section>

{% endblock contenido %}
{% block graficajs %}
 
<script type="text/javascript">
            $.get('{% url "line_chart_json" %}', function(data) {
                var ctx = $("#myChart").get(0).getContext("2d");
                new Chart(ctx).Line(data);
            });
        </script>
    
{% endblock graficajs %}