{% extends "base/menu.html" %}
{% block graficaform %}
<div class="row">
    <div class="medium-8 medium-centered columns text-center">
        <h2>{% block title %}Graficas{% endblock title %}</h2>
        <form method="POST" action=".">{% csrf_token %}
            <div class="row">
                <div class="large-12 columns">
                  <label>Carrera
                    <select name= "carrerag_f">
                          <option value="GENERAL">General</option>

                          <option value="TODOS">TODAS</option>
                      
              <option  value= "1">Ing.Bioquimica</option>
              <option  value= "2">Ing.Civil</option>
              <option  value= "3">Ing. Electronica</option>
              <option  value= "4">Ing. Industrial</option>
              <option  value= "5">Ing.Mecatronica</option>
              <option  value= "6">Ing. Sist. Computacionales</option>
              <option  value= "7">Lic. Administración</option>
              <option  value= "8">Contaduría Pública</option>
              <option  value= "9">Ing. Electromecánica</option>
              <option  value= "10">Ing. Gestión Empresarial</option>
              <option  value= "11">Ing. Logistica</option>
                        </select>
                  </label>
                </div>
                <div class="medium-6 columns">
                    <label>Año
                        <select name="anio_f">
                          <option value="TODOS">TODOS LOS AÑOS</option>
                          
                          {% for anio in lista_anios %}
                            <option value="{{anio}}" >{{anio}}</option>
                          {% endfor %}
                        </select>
                      </label>
                </div>
                <div class="medium-6 columns">
                    <label>Filtro
                        <select name="titulado_f">
                          <option value="TODOS">sin filtro</option>
                          <option value= "1">Titulado</option>
                          <option value="0">Sin titulo</option>
                          <option value="2">Laborando</option>
                          
                        </select>
                      </label>
                </div>
                <div class="small-12 columns">
                    <div class="row">
                    <div class="small-6 small-centered columns">
                        <p class="text-center"><button class="round expand">GRAFICAR</button></p>
                    </div>
                </div>
                </div>
                
                

            </div>
        </form>
    </div>
</div>
    
{% endblock graficaform %}

{% block contenido %}


<section class ="row paddingtop">
    <div class="small-12 columns">
        <!--Codigo de HTML de la grafica -->
        <div class="panel"> 
           <canvas id="canvas" height="450" width="600"></canvas>
        </div>

    </div>
</section>

{% endblock contenido %}
{% block chartjs %}
  {% load staticfiles %}
 <script src="{% static "js/vendor/Chart.min.js" %}"></script>
{% endblock chartjs %}
{% block graficajs %}

    <script>
    var randomScalingFactor = function(){ return Math.round(Math.random()*100)};

    var barChartData = {
        labels : {{ data_labels|safe }}, 
        datasets : [
            {
                fillColor : "rgba(220,220,220,0.5)",
                strokeColor : "rgba(220,220,220,0.8)",
                highlightFill: "rgba(220,220,220,0.75)",
                highlightStroke: "rgba(220,220,220,1)",
                data : {{ data_general }}
            }
        ]

    }
    window.onload = function(){
        var ctx = document.getElementById("canvas").getContext("2d");
        window.myBar = new Chart(ctx).Bar(barChartData, {
            responsive : true
        });
    }
    </script>
    
{% endblock graficajs %}