{% extends "graficas/grafica_base.html" %}
{% block title %}
Graficas General    
{% endblock title %}
{% block contenido %}

<div class="row">
    <div class="medium-8 medium-centered columns text-center">
        <h2>Gráfica General</h2>
        <form>
            <div class="row">
                <div class="large-12 columns">
                  <label>Carrera
                    <select>
                          <option value="TODAS">TODAS</option>
                          <option value="Ing. Sist. Computacionales">Ing. Sist. Computacionales</option>
                          <option value="Contabilidad">Contabilidad</option>
                          <option value="Bioquimica">Bioquimica</option>
                        </select>
                  </label>
                </div>
                <div class="medium-6 columns">
                    <label>Año
                        <select>
                          <option value="TODOS LOS ANIOS">TODOS LOS AÑOS</option>
                          <option value="2015">2015</option>
                          <option value="2014">2014</option>
                          <option value="2013">2013</option>
                          <option value="2012">2012</option>
                        </select>
                      </label>
                </div>
                <div class="medium-6 columns">
                    <label>Filtro
                        <select>
                          <option value="Sin Filtro">Sin Filtro</option>
                          <option value="Titulado">Titulado</option>
                          <option value="Sin titulo">Sin titulo</option>
                          <option value="Laborando">Laborando</option>
                          
                        </select>
                      </label>
                </div>
                <div class="small-12 columns">
                    <div class="row">
                    <div class="small-6 small-centered columns">
                        <p class="text-center"><button class="round expand">GRAFICAR</button></p>
                    </div>
                </div>
                </div>
                
                

            </div>
        </form>
    </div>
</div>
<section class ="row paddingtop">
    <div class="small-12 columns">
        <!--Codigo de HTML de la grafica -->
        <canvas id="canvas" width="400" height="400"></canvas>


    </div>
</section>

{% endblock contenido %}
{% block graficajs %}
 
<script>
    var randomScalingFactor = function(){ return Math.round(Math.random()*100)};

    var barChartData = {
        labels : ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio"],
        datasets : [
            {
                fillColor : "rgba(220,220,220,0.5)",
                strokeColor : "rgba(220,220,220,0.8)",
                highlightFill: "rgba(220,220,220,0.75)",
                highlightStroke: "rgba(220,220,220,1)",
                data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
            },
            {
                fillColor : "rgba(151,187,205,0.5)",
                strokeColor : "rgba(151,187,205,0.8)",
                highlightFill : "rgba(151,187,205,0.75)",
                highlightStroke : "rgba(151,187,205,1)",
                data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
            }
        ]

    }
    window.onload = function(){
        var ctx = document.getElementById("canvas").getContext("2d");
        window.myBar = new Chart(ctx).Bar(barChartData, {
            responsive : true
        });
    }
    </script>
    
{% endblock graficajs %}